{% extends 'base.html' %}
{% load param_replace %}

{% block title %}Recipes - Recipe WEB App{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12">
    <h1 class="center">All Recipes</h1>
  </div>
</div>

{% if list_objects %}

    {% for recipe in list_objects %}
      <div class="row">
        <div class="col s12">
          <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <div class="cart-title">
                  <h4>{{ recipe.title }}</h4>
                  <img class="responsive-img circle list-img"
                       src="{{ recipe.image.url }}"
                       alt="Recipe Image">
                </div>
                <p>
                  <i class="material-icons">access_time</i>
                  <span style="margin-left: 5px;">{{recipe.time_minutes}} minutes</span>
                </p>
                <div>

                  <i class="material-icons">attach_money</i>
                  <span style="margin-left: 5px;">{{recipe.price}} $</span>
                </div>
              </div>

              <div class="card-action right-align">
                <a class="waves-effect waves-light btn btn-color"
                     href="{% url 'recipe:recipe_detail' pk=recipe.id %}">
                    Details
                </a>
              </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  {% if is_paginated %}
    {% if page_obj.has_other_pages %}
       <div class="container">
         <ul class="pagination">
          <!-- PREVIOUS PAGE -->

          {% if page_obj.has_previous and page_obj.previous_page_number != 0 %}
            <li>
              <a href="?{% param_replace page=page_obj.previous_page_number %}">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
          {% endif %}

          <!-- PAGE NUMBERS -->
          {% for i in page_range %}
            {% if page_obj.number == i %}
              <li class="active btn-color">
                <a href="#">{{ i }}</a>
              </li>
            {% else %}
              <li class="waves-effect">
                <a href="?{% param_replace page=i %}">
                  {{ i }}
                </a>
              </li>
            {% endif %}
          {% endfor %}

        <!-- NEXT PAGE -->
          {% if page_obj.has_next %}
            <li>
              <a href="?{% param_replace page=page_obj.next_page_number %}">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          {% endif %}
         </ul>
       </div>
    {% endif %}
  {% endif %}


{% else %}
<h1>No Results</h1>
{% endif %}

<div class="fixed-action-btn direction-top">
       <a href="{% url 'recipe:recipe_create' %}"
        class="btn-floating btn-large waves-effect waves-l+*-ight btn-color">
          <i class="material-icons right">add</i>
       </a>
</div>
{% endblock %}