.glow {
  color: #444;
  text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

.average-font {
    font-family: 'Average', serif !important;
}

.main-color {
    background-color: #0F111A !important;
}

.btn-color {
    background-color: #86C232 !important;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-img {
    max-width: 150px;
    max-height: 150px;
}

.detail-img {
    max-width: 350px;
    max-height: 350px;
}

ul.socialaccount_providers {
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
}

li.soc-acc-item {
    list-style: none;
    transition: 1s;
}

a.soc-acc-link {
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    margin: 0 2px;
    border-radius: 50%;
    font-size: 30px;
}

a.google {
    background-color: #dd4b39;
}

a.twitter {
    background-color: #55acee;
}

a.linkedin {
    background-color: #0077B5;
}

a.facebook {
    background-color: #3b5999;
}

a.github {
    background-color: #000000;
}

p {
    font-weight: bold;
    font-size: 19px;
}