<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <!-- HEADER -->
    <div class="navbar-fixed">
        <nav class="green">
            <div class="container">
                <div class="nav-wrapper green">
                    <a href="#" class="brand-logo center">Recipe Web App</a>
                    <a href="#" data-target="mobile-nav"
                       class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>

                    <ul class="left hide-on-med-and-down">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                    </ul>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- SIDENAV-->
    <ul id="mobile-nav" class="sidenav green">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
    </ul>

    <!-- CONTAINER -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer id="footer">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            // Sidenav
            const sideNav = document.querySelector('.sidenav');
            if (sideNav) {
                M.Sidenav.init(sideNav, {});
            }

            // Slider
            const slider = document.querySelector('.slider');
            if (slider){
                M.Slider.init(slider, {
                    indicators: false,
                    height: 500,
                    transition: 500,
                    interval: 6000
                });
            }
        </script>
    </footer>
</body>
</html>